<div class="form-wrap">
  <%= form_for([:admin, event]) do |f| %>
    <% if event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
            <% event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <fieldset class="form-group row">
      <%= f.label :name, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-10"><%= f.text_field :name, class: 'form-control' %></div>
    </fieldset>

    <fieldset class="form-group row">
      <%= f.label :description, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-10"><%= f.text_area :description, class: 'form-control' %></div>
    </fieldset>

    <fieldset class="form-group row">
      <%= f.label :image, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-10"><%= f.file_field :image, class: 'form-control' %></div>
    </fieldset>

    <fieldset class="form-group row">
      <%= f.label :url, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-10"><%= f.text_field :url, class: 'form-control' %></div>
    </fieldset>

    <fieldset class="form-group row">
      <%= f.label :date, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-10"><%= f.text_field :date, {class: 'form-control datepicker'} %></div>
    </fieldset>

    <fieldset class="form-group row">
      <%= f.label :location, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-10">
        <div id="map"></div>
        <%= f.text_area :location, value: f.object.location.try(:to_json), class: 'form-control hidden', id: 'location_map' %>
      </div>
    </fieldset>

    <fieldset class="form-group row">
      <%= f.label :instructions, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-10"><%= f.text_area :instructions, class: 'form-control' %></div>
    </fieldset>

    <fieldset class="form-group row">
      <%= f.label :contact, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-10"><%= f.text_field :contact, class: 'form-control' %></div>
    </fieldset>

    <fieldset class="form-group row">
      <%= f.label :campaign, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-10"><%= f.collection_select :campaign_id, Campaign.order(:name), :id, :name_with_status, {}, {class: 'form-control chzn-select'} %></div>
    </fieldset>

    <fieldset class="form-group row">
      <%= f.label :tasks, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-10">
        <%= f.collection_select :task_ids, Task.order(:name), :id, :name, {}, {class: 'form-control chzn-select', multiple: true} %>
      </div>
    </fieldset>

    <div class="form-group row">
      <div class="col-sm-offset-2 col-sm-10 form-control-btns">
        <%= link_to 'Cancel', admin_events_path, class: 'bttn bttn-secondary' %>
        <%= f.submit class: 'bttn bttn-primary' %>
      </div>
    </div>
  <% end %>
</div>
