<%= form_for([:admin, event]) do |f| %>
    <% if event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
            <% event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <fieldset class="form-group row">
      <%= f.label :name, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-12"><%= f.text_field :name, class: 'form-control' %></div>
    </fieldset>

    <fieldset class="form-group row">
      <%= f.label :description, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-12"><%= f.text_area :description, class: 'form-control' %></div>
    </fieldset>

    <fieldset class="form-group row">
      <%= f.label :image, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-12"><%= f.file_field :image, class: 'form-control' %></div>
    </fieldset>

    <fieldset class="form-group row">
      <%= f.label :url, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-12"><%= f.text_field :url, class: 'form-control' %></div>
    </fieldset>

    <fieldset class="form-group row">
      <%= f.label :date, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-12"><%= f.text_field :date, {:class => 'form-control datepicker'} %></div>
    </fieldset>

    <fieldset class="form-group row">
      <%= f.label :location, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-12">
        <div id="map"></div>
        <%= f.text_area :location, class: 'form-control hidden' %>
      </div>
    </fieldset>

    <fieldset class="form-group row">
      <%= f.label :instructions, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-12"><%= f.text_area :instructions, class: 'form-control' %></div>
    </fieldset>

    <fieldset class="form-group row">
      <%= f.label :contact, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-12"><%= f.text_field :contact, class: 'form-control' %></div>
    </fieldset>

    <fieldset class="form-group row">
      <%= f.label :campaign, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-12"><%= f.collection_select :campaign_id, Campaign.all, :id, :name, {}, {:class => 'form-control'} %></div>
    </fieldset>

    <fieldset class="form-group row">
      <%= f.label :user_id, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-12"><%= f.collection_select :user_id, User.all, :id, :email, {}, {:class => 'form-control'} %></div>
    </fieldset>

    <fieldset class="form-group row">
      <%= f.label :tasks, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-12">
        <%= f.collection_select :task_ids, Task.all, :id, :name, {}, {:class => 'form-control', :multiple => true} %>
      </div>
    </fieldset>

    <div class="form-group row">
      <div class="col-sm-offset-2 col-sm-12">
        <%= f.submit class: 'bttn bttn-primary' %>
        <%= link_to 'Show', admin_event_path(event), class: 'bttn bttn-secondary' unless event.id.nil? %>
        <%= link_to 'Back', admin_events_path, class: 'bttn bttn-secondary' %>
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function(){
        $('.datepicker').datepicker({
          format: 'yyyy-mm-dd',
        });
      });
    </script>
<% end %>
