<div class="index-title wrap">
  <h1>Events</h1>
  <%= link_to 'New Event', new_admin_event_path, class: 'bttn bttn-primary' %>
</div>

<div class="search wrap">
  <input type="text" class="search-input" placeholder="Search" />
  <svg class="icon icon-search">
    <use xlink:href="#icon-search"></use>
  </svg>
</div>

<table class="table table-bordered draggable">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Description</th>
      <th>Date</th>
      <th>Contact</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td>
          <svg class="icon icon-Row-Dragger">
            <use xlink:href="#icon-Row-Dragger"></use>
          </svg>
        </td>
        <td><%= event.name %></td>
        <td><%= event.description %></td>
        <td><%= event.date %></td>
        <td><%= event.contact %></td>
        <td><%= link_to 'Show', event_path(event) %><%= link_to 'Edit', edit_admin_event_path(event) %><%= link_to 'Destroy', admin_event_path(event), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
