<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @event.image.url(:medium) %>
</p>

<p>
  <strong>Url:</strong>
  <%= @event.url %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @event.instructions %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @event.contact %>
</p>

<p>
  <strong>Campaign:</strong>
  <%= @event.campaign.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user.email %>
</p>

<p>
  <strong>Tasks:</strong>
  <ul>
  <% @event.tasks.each do |task| %>
      <li><%= task.name %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_admin_event_path(@event), class: 'btn btn-primary' %>
<%= link_to 'Back', admin_events_path, class: 'btn btn-secondary' %>
