<section class="l-tasks" id="tasksIndex">

  <article class="l-intro -tasks">
    <div class="l-routes -tasks -dark" id="taskRoutes">
      <div class="wrap">
        <div class="row">
          <div class="col-sm-12">
            <ul class="c-routes text text-desc -light">
              <!-- Paths to set -->
              <li class="route">Participate</li>
              <li class="route"><%= link_to 'Task', tasks_path, {:class => 'route-link'} %></li>
              <li class="route">Task name</li>
            </ul>
            <div id="open-modal" class="open-modal"></div>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article class="l-main-content">
    <div class="l-switcher">
      <div class="c-switcher">
        <div class="switcher-header">
          <div class="wrap">
            <h2>Tasks</h2>
            <ul class="tabs">
              <li class="tab -is-active" data-tab="tab-1">Map View</li>
              <li class="tab" data-tab="tab-2">List View</li>
            </ul>
          </div>
        </div>
        <div class="tabs-content">
          <div id="tab-1" class="tabs-panel -is-active">
            <div id="data-table-view"></div>
          </div>
          <div id="tab-2" class="tabs-panel">
            <%= form_tag tasks_path, method: 'get', id: "search-form-tasks" do %>
              <div class="search wrap transparent-padding">
                <%= text_field_tag :search_tasks, params[:search_tasks], class: 'search-input' %>
                <svg class="icon icon-search">
                  <use xlink:href="#icon-search"></use>
                </svg>
                <%= submit_tag '', name: nil, class: 'hidden' %>
              </div>
              <div id="search-table-tasks"><%= render 'tasks/tasks', tasks: @tasks %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </article>
</section>
