<div class="l-header">
  <div class="wrap">
    <%= link_to (image_tag "logo.png", class: "logo"), "/"%>
    <nav class="menu-toggle">
      <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
        &#9776;
      </button>
    </nav>
    <nav class="header-container collapse" id="exCollapsingNavbar2">
        <div class="header-content">
          <ul class="nav navbar-nav main-menu">
            <li class="nav-item"><%= link_to 'Campaigns', admin_campaigns_path, {class: current_class('admin/campaigns') + 'nav-link text text-menu -light'} %></li>
            <li class="nav-item"><%= link_to 'Event requests', admin_event_requests_path, {class: current_class('admin/event_requests') + 'nav-link text text-menu -light'} %></li>
            <li class="nav-item"><%= link_to 'Events', admin_events_path, {class: current_class('admin/events') + 'nav-link text text-menu -light'} %></li>
            <li class="nav-item"><%= link_to 'Tasks', admin_tasks_path, {class: current_class('admin/tasks') + 'nav-link text text-menu -light'} %></li>
            <li class="nav-item"><%= link_to 'Users', admin_users_path, {class: current_class('admin/users') + 'nav-link text text-menu -light'} %></li>
            <% if user_signed_in? %>
              <li class="nav-item"><%= link_to 'Log out', destroy_user_session_path, {class: 'nav-link text text-menu -light', :method => :delete} %></li>
            <% end %>
            </ul>
        </div>
    </nav>
  </div>
</div>
