
<section class="campaign-main">
  <article class="c-intro content-fluid">
    <ul class="c-routes wrap text text-desc -light">
      <!-- Paths to set -->
      <li class="route"><%= link_to 'Participate', '/', { :class => current_class('/') + 'route-link'} %></li>
      <li class="route"><%= link_to 'Campaign', '/', {:class => current_class('/') + 'route-link'} %></li>
    </ul>

    <aside class="wrap row">
      <div class="col-sm-12 col-md-5">
        <h1 class="title text text-module-subtitle -light">Campaigns</h1>
        <ul class="tags-list text text-tag -light">
          <li class="tag">Tag 1</li>
          <li class="tag">Tag 2</li>
          <li class="tag">Tag 3</li>
        </ul>
        <p class="text text-desc -light">Description vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer pio posuere erat a ante venenatis dapi, ctetur, sed do. </p>
      </div>
    </aside>
  </article>
  <article class="campaigns">
     <div class="col-lg-12 wrap-full">
      <div class="input-group">
        <input type="text" class="form-control search" placeholder="Search">
        <span class="input-group-btn">
          <img src="" class="search-icon" />
        </span>
      </div>
    </aside>
  </article>
  <article class="content content-fluid">
    <div class="input-group col-xs-12 wrap">
      <input type="text" class="form-control search" placeholder="Search">
      <span class="input-group-btn">
        <img src="" class="search-icon" />
      </span>
    </div>
    <table class="c-table table">
      <thead>
      <tr>
        <th class="text text-menu -dark">Start date</th>
        <th class="text text-menu -dark">Campaign Name</th>
        <th class="text text-menu -dark">Tags</th>
      </tr>
      </thead>

      <tbody>
        <% if @campaigns %>
          <% @campaigns.each do |campaign| %>
            <tr class="wrap text text-desc -dark" data-role="campaign<%= campaign.id %>" data-move-url="<%= move_admin_campaign_url(campaign) %>" data-position="<%= campaign.position %>">
              <td class="text text-desc -dark"><%= campaign.start_date %></td>
              <td class="text text-desc -dark -bold"><%= link_to campaign.name, admin_campaign_path(campaign) %></td>
              <td class="text text-desc -dark"><%= campaign.htag %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <!-- Provisional -->
    <div class="wrap row">
      <ul class="c-pagination col-xs-12 col-sm-6 col-sm-offset-3">
        <li class="text text-desc -dark left-arrow"><a href=""><</a></li>
        <li class="text text-desc -dark page -active"><a href="">1</a></li>
        <li class="text text-desc -dark page"><a href="">2</a></li>
        <li class="text text-desc -dark page"><a href="">3</a></li>
        <li class="text text-desc -dark page"><a href="">4</a></li>
        <li class="text text-desc -dark page"><a href="">5</a></li>
        <li class="text text-desc -dark right-arrow"><a href="">></a></li>
      </ul>
    </div>


  </article>
</section>


