<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="table">
  <thead>
    <tr>
      <th class="sortable"><%= sortable "name" %></th>
      <th>Description</th>
      <th class="sortable"><%= sortable "task_type" %></th>
      <th class="sortable"><%= sortable "status" %></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% for task in @tasks %>
      <tr>
        <td class="-bold"><%= task.name %></td>
        <td><%= task.description %></td>
        <td><%= task.task_type_humanize %></td>
        <td><%= task.status_humanize %></td>
        <td class="actions">
          <%= link_to '', task_path(task), :class => "svg-bttn -show" %>
          <%= link_to '', edit_admin_task_path(task), :class => "svg-bttn -edit" %>
          <%= link_to '', admin_task_path(task), method: :delete, data: {confirm: 'Are you sure?'}, :class => "svg-bttn -delete"%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @tasks, previous_label: '<', next_label: '>' %>
