<div class="index-title wrap">
  <h1>Tasks</h1>
  <%= link_to 'New Task', new_admin_task_path, class: 'bttn bttn-primary' %>
</div>

<div class="search wrap">
  <input type="text" class="search-input" placeholder="Search" />
  <svg class="icon icon-search">
    <use xlink:href="#icon-search"></use>
  </svg>
</div>

<table class="table table-bordered draggable">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Description</th>
      <th>Task type</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td>
          <svg class="icon icon-Row-Dragger">
            <use xlink:href="#icon-Row-Dragger"></use>
          </svg>
        </td>
        <td><%= task.name %></td>
        <td><%= task.description %></td>
        <td><%= task.task_type_humanize %></td>
        <td><%= task.status_humanize %></td>
        <td><%= link_to 'Show', task_path(task) %><%= link_to 'Edit', edit_admin_task_path(task) %><%= link_to 'Destroy', admin_task_path(task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
