<div class="l-header">
  <div class="wrap">

    <%= link_to (image_tag "logo.png"), "/", class: "logo"%>

    <nav class="c-navigation">
      <button class="btn-mobile-menu js--open-menu">
        <svg class="icon">
          XXX
          <use xlink:href="#icon-menu"></use>
        </svg>
      </button>
    </nav>
    <nav id="exCollapsingNavbar2">
      <div class="header-container">
        <div class="header-content">
          <%= link_to (image_tag "logo.png", class: "logo"), "/"%>
          <ul class="nav navbar-nav main-menu">
            <li class="nav-item sub-menu-toggler"><a href="#" class="nav-link text text-menu -light"><%= t('nav.participate') %></a>
              <ul class="sub-menu">
                <li><%= link_to t('nav.campaigns'), campaigns_path, {class: 'text text-menu -dark'} %></li>
                <li><%= link_to t('nav.events'), events_path, {class: 'text text-menu -dark'} %></li>
                <li><%= link_to t('nav.tasks'), tasks_path, {class: 'text text-menu -dark'} %></li>
              </ul>
            </li>
            <li class="nav-item"><%= link_to t('nav.impact'), "/", {class: 'nav-link text text-menu -light'} %></li>
            <li class="nav-item"><%= link_to t('nav.data_download'), "/", {class: 'nav-link text text-menu -light'} %></li>
            <li class="nav-item"><%= link_to t('nav.about'), "/",  {class: 'nav-link text text-menu -light'} %></li>
          </ul>
        </li>

        <li class="<%="is-current" if ["impact"].include?(controller_name) %> menu-item"> <%= link_to 'Impact', "/", {class: 'nav-link text text-menu -light'} %></li>
        <li class="<%="is-current" if ["download"].include?(controller_name) %> menu-item"><%= link_to 'Data Download', "/", {class: 'nav-link text text-menu -light'} %></li>
        <li class="<%="is-current" if ["about"].include?(controller_name) %> menu-item"><%= link_to 'About', "/",  {class: 'nav-link text text-menu -light'} %></li>
      </ul>
    </nav>

  </div>
</div>
