<div class="l-header">
  <div class="wrap">
    <nav class="menu-toggle wrap-full">
      <a href="<%= root_url %>" class="h-logo"><img src="" class="logo"></a>
      <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
        &#9776;
      </button>
    </nav>
    <nav id="exCollapsingNavbar2">
      <div class="header-container">
        <div class="header-content">
          <%= link_to (image_tag "logo.png", class: "logo"), "/"%>
          <ul class="nav navbar-nav main-menu">
            <li class="nav-item sub-menu-toggler"><a href="#" class="nav-link text text-menu -light"><%= t('nav.participate') %></a>
              <ul class="sub-menu">
                <li><%= link_to t('nav.campaigns'), campaigns_path, {class: 'text text-menu -dark'} %></li>
                <li><%= link_to t('nav.events'), events_path, {class: 'text text-menu -dark'} %></li>
                <li><%= link_to t('nav.tasks'), tasks_path, {class: 'text text-menu -dark'} %></li>
              </ul>
            </li>
            <li class="nav-item"><%= link_to t('nav.impact'), "/", {class: 'nav-link text text-menu -light'} %></li>
            <li class="nav-item"><%= link_to t('nav.data_download'), "/", {class: 'nav-link text text-menu -light'} %></li>
            <li class="nav-item"><%= link_to t('nav.about'), "/",  {class: 'nav-link text text-menu -light'} %></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
