<div class="l-header">
  <div class="wrap">

    <%= link_to (image_tag "logo.png"), "/", class: "logo"%>

    <nav class="c-navigation">
      <button class="btn-mobile-menu js--open-menu">
        <svg class="icon">
          XXX
          <use xlink:href="#icon-menu"></use>
        </svg>
      </button>

      <ul class="main-menu">
        <li class="<%="is-current" if ["campaigns", "events", "tasks"].include?(controller_name) %> sub-menu-toggler menu-item"><a href="#" class="nav-link text text-menu -light">Participate</a>

          <ul class="sub-menu">
            <li><%= link_to 'Campaigns', campaigns_path, { class: controller_name == 'campaigns' ? 'text text-menu -dark is-current' : 'text text-menu -dark'} %></li>
            <li><%= link_to 'Mapathons', events_path, { class:  controller_name == 'events' ? 'text text-menu -dark is-current' : 'text text-menu -dark'} %></li>
            <li><%= link_to 'Tasks', tasks_path, { class: controller_name == 'tasks' ? 'text text-menu -dark is-current' : 'text text-menu -dark'} %></li>
          </ul>
        </li>

        <li class="<%="is-current" if ["impact"].include?(controller_name) %> menu-item"> <%= link_to 'Impact', "/", {class: 'nav-link text text-menu -light'} %></li>
        <li class="<%="is-current" if ["download"].include?(controller_name) %> menu-item"><%= link_to 'Data Download', "/", {class: 'nav-link text text-menu -light'} %></li>
        <li class="<%="is-current" if ["about"].include?(controller_name) %> menu-item"><%= link_to 'About', "/",  {class: 'nav-link text text-menu -light'} %></li>
      </ul>
    </nav>

  </div>
</div>
<div id="share-modal" class="c-share-modal"></div>
