<div class="wrap">
  <div class="row">
    <h1 class="text text-module-title -primary"><%= t('home.about.title_primary') %></h1>
    <h2 class="text text-module-subtitle -dark"><%= t('home.about.title_secondary') %></h2>
    <p class="text text-claim -darker"><%= t('home.about.claim_para_1') %></p>
    <p class="text text-claim -darker"><%= t('home.about.claim_para_2') %></p>
    <button class="bttn bttn-primary"><%= t('home.about.btn') %></button>
  </div>
</div>
