<div class="slider-container">
  <div class="collaborate slider-element">
    <div class="wrap -center">
      <div class="row">
        <h2 class="text text-module-subtitle -dark"><%= t('home.collaborate.subtitle') %></h2>
        <h1 class="text text-module-title -primary"><%= t('home.collaborate.title') %></h1>
        <p class="text text-p -dark"><%= t('home.collaborate.description') %></p>
      </div>
    </div>
    <div class="activity-data wrap">
      <div class="activity-section -task">
        <div class="content-img"></div>
        <h3 class="text text-p-title -dark"><%= t('home.collaborate.tasking_manager.step_one_title') %></h3>
        <p class="text text-legend -darker"><%= t('home.collaborate.tasking_manager.step_one_legend') %></p>
      </div>
      <div class="activity-section -square">
        <div class="content-img"></div>
        <h3 class="text text-p-title -dark"><%= t('home.collaborate.tasking_manager.step_two_title') %></h3>
        <p class="text text-legend -darker"><%= t('home.collaborate.tasking_manager.step_two_legend') %></p>
      </div>
      <div class="activity-section -roads">
        <div class="content-img"></div>
        <h3 class="text text-p-title -dark"><%= t('home.collaborate.tasking_manager.step_three_title') %></h3>
        <p class="text text-legend -darker"><%= t('home.collaborate.tasking_manager.step_three_legend') %></p>
      </div>
    </div>
  </div>
  <div class="slider-element second-slide">
     <div class="wrap -center">
      <div class="row">
        <h2 class="text text-module-subtitle -dark"><%= t('home.collaborate.more') %></h2>
        <h1 class="text text-module-title -primary"><%= t('home.collaborate.info') %></h1>
        <div class="activity-data second-slide">
          <div class="activity-section -four">
            <div class="content-img"></div>
            <h3 class="text text-p-title -dark"><%= t('home.collaborate.tasking_manager.step_four_title') %></h3>
            <p class="text text-legend -darker"><%= t('home.collaborate.tasking_manager.step_four_legend') %></p>
          </div>
          <div class="activity-section -five">
            <div class="content-img"></div>
            <h3 class="text text-p-title -dark"><%= t('home.collaborate.tasking_manager.step_five_title') %></h3>
            <p class="text text-legend -darker"><%= t('home.collaborate.tasking_manager.step_five_legend') %></p>
          </div>
          <div class="activity-section -six">
            <div class="content-img"></div>
            <h3 class="text text-p-title -dark"><%= t('home.collaborate.tasking_manager.step_six_title') %></h3>
            <p class="text text-legend -darker"><%= t('home.collaborate.tasking_manager.step_six_legend') %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
