
<div id="parallax" class="home">
  <article class="l-home-intro" id="home-intro">
    <%= render 'home-intro' %>
  </article>
  <article class="l-slider" id="slider">
    <%= render 'slider' %>
    <div class="arrow-left"></div>
    <div class="arrow-right"></div>
  </article>
  <article class="l-participate" id="participate">
    <%= render 'participate' %>
  </article>
  <article class="l-events" id="events">
    <%= render 'events' %>
  </article>
  <article class="l-community" id="community">
    <%= render 'community' %>
  </article>
  <article class="l-activity" id="activity">
    <%= render 'activity' %>
  </article>
  <article class="l-about" id="about">
    <%= render 'about' %>
  </article>
  <%= render 'dots' %>
</div>
