
<div id="parallax">
  <%= render 'header' %>
  <div class="intro">
    <%= render 'intro' %>
  </div>
  <div class="colaborate">
    <%= render 'colaborate' %>
  </div>
  <div class="participate">
    <%= render 'participate' %>
  </div>
  <div class="events">
    <%= render 'events' %>
  </div>
  <div class="community">
    <%= render 'community' %>
  </div>
  <div class="about">
    <%= render 'about' %>
  </div>
  <%= render 'footer' %>
</div>
