<%= form_for([:admin, campaign]) do |f| %>
    <% if campaign.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

          <ul>
            <% campaign.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <fieldset class="form-group row">
      <%= f.label :name, class: 'col-sm-2 form-control-label', class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </fieldset>

    <fieldset class="form-group row">
      <%= f.label :htag, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :htag, class: 'form-control' %>
      </div>
    </fieldset>

    <fieldset class="form-group row">
      <%= f.label :description, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-10">
        <%= f.text_area :description, class: 'form-control' %>
      </div>
    </fieldset>

    <fieldset class="form-group row">
      <%= f.label :background_image, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-10">
        <%= f.file_field :background_image, class: 'form-control' %>
      </div>
    </fieldset>

    <fieldset class="form-group row">
      <%= f.label :url, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :url, class: 'form-control' %>
      </div>
    </fieldset>

    <fieldset class="form-group row">
      <%= f.label :status, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-10">
        <%= f.select :status, CampaignStatus.to_a, {}, {:class => 'form-control'} %>
      </div>
    </fieldset>

    <fieldset class="form-group row">
      <%= f.label :start_date, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-10">
        <%= f.date_select :start_date, {}, {:class => 'form-control'} %>
      </div>
    </fieldset>

    <fieldset class="form-group row">
      <%= f.label :user_id, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-10">
        <%= f.collection_select :user_id, User.all, :id, :email, {}, {:class => 'form-control'} %>
      </div>
    </fieldset>

    <fieldset class="form-group row">
      <%= f.label :tasks, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-10">
        <%= f.collection_select :task_ids, Task.all, :id, :name, {}, {:class => 'form-control', :multiple => true} %>
      </div>
    </fieldset>

    <div class="form-group row">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit class: 'btn btn-primary' %>
        <%= link_to 'Show', admin_campaign_path(campaign), class: 'btn btn-secondary' unless campaign.id.nil? %>
        <%= link_to 'Back', admin_campaigns_path, class: 'btn btn-secondary' %>
      </div>
    </div>

    </div>
<% end %>
