<div class="index-title wrap">
  <h1>Campaigns</h1>
  <%= link_to 'New Campaign', new_admin_campaign_path, class: 'bttn bttn-primary' %>
</div>

<%= form_tag admin_campaigns_path, method: 'get', id: "search-form" do %>
  <div class="search wrap">
    <%= text_field_tag :search, params[:search], class: 'search-input' %>
    <svg class="icon icon-search">
      <use xlink:href="#icon-search"></use>
    </svg>
    <%= submit_tag '', name: nil, class: 'hidden' %>
  </div>
  <div id="search-table"><%= render 'campaign' %></div>
<% end %>
