<div class="index-title wrap">
  <h1>Campaigns</h1>
  <%= link_to 'New Campaign', new_admin_campaign_path, class: 'bttn bttn-primary' %>
</div>

<div class="search wrap">
  <input type="text" class="search-input" placeholder="Search" />
  <svg class="icon icon-search">
    <use xlink:href="#icon-search"></use>
  </svg>
</div>

<%= form_tag campaigns_path, :method => 'get', :id => "campaigns_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="campaigns"><%= render 'campaigns' %></div>
<% end %>

<table class="table table-bordered draggable">
  <thead>
    <tr>
      <th></th>
      <th class="sortable"><%= sortable "name" %></th>
      <th>Description</th>
      <th>Htag</th>
      <th class="sortable"><%= sortable "start_date" %></th>
      <th class="sortable"><%= sortable "status" %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody data-role="activerecord_sortable">
    <%= render @campaigns %>
  </tbody>
</table>

<%= will_paginate @campaigns, :previous_label => '<', :next_label => '>' %>
