<div class="wrap">
  <h1>Campaign: <%= @campaign.name %></h1>
  <div class="show">
    <p>
      <strong>Name:</strong>
      <%= @campaign.name %>
    </p>

    <p>
      <strong>Htag:</strong>
      <%= @campaign.htag %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @campaign.description %>
    </p>

    <p>
      <strong>Background image:</strong>
      <%= image_tag @campaign.background_image.url(:medium) %>
    </p>

    <p>
      <strong>Url:</strong>
      <%= @campaign.url %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @campaign.status_humanize %>
    </p>

    <p>
      <strong>Start date:</strong>
      <%= @campaign.start_date %>
    </p>

    <p>
      <strong>User:</strong>
      <%= @campaign.user.email %>
    </p>

    <p>
      <strong>Tasks:</strong>
      <ul>
      <% @campaign.tasks.each do |task| %>
        <li><%= link_to task.name, [:admin, task] %></li>
      <% end %>
      </ul>
    </p>
    <p>
      <strong>Events:</strong>
      <ul>
      <% @campaign.events.each do |event| %>
        <li><%= link_to event.name, [:admin, event] %></li>
      <% end %>
      </ul>
    </p>

    <p>
      <%= link_to 'Edit', edit_admin_campaign_path(@campaign),  class: 'bttn bttn-primary' %>
      <%= link_to 'Back', admin_campaigns_path, class: 'bttn bttn-secondary' %>
    </p>
  </div>
</div>
