<p>
  <strong>Name:</strong>
  <%= @campaign.name %>
</p>

<p>
  <strong>Htag:</strong>
  <%= @campaign.htag %>
</p>

<p>
  <strong>Description:</strong>
  <%= @campaign.description %>
</p>

<p>
  <strong>Background image:</strong>
  <%= image_tag @campaign.background_image.url(:medium) %>
</p>

<p>
  <strong>Url:</strong>
  <%= @campaign.url %>
</p>

<p>
  <strong>Status:</strong>
  <%= @campaign.status_humanize %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @campaign.start_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @campaign.user.email %>
</p>

<p>
  <strong>Tasks:</strong>
  <ul>
  <% @campaign.tasks.each do |task| %>
    <li><%= task.name %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_admin_campaign_path(@campaign),  class: 'btn btn-primary' %>
<%= link_to 'Back', admin_campaigns_path, class: 'btn btn-secondary' %>
