<div class="index-title wrap">
  <h1>Countries</h1>
  <%= link_to 'New Country', new_admin_country_path, class: 'bttn bttn-primary' %>
</div>

<div class="search wrap">
  <input type="text" class="search-input" placeholder="Search" />
  <svg class="icon icon-search">
    <use xlink:href="#icon-search"></use>
  </svg>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>ISO</th>
      <th>shp url</th>
      <th>geojson url</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.name %></td>
        <td><%= country.iso %></td>
        <td><%= country.shp_url %></td>
        <td><%= country.geojson_url %></td>
        <td><%= link_to 'Show', admin_country_path(country) %><%= link_to 'Edit', edit_admin_country_path(country) %><%= link_to 'Destroy', admin_country_path(country), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
