<h1>Admin</h1>

<table class="table table-bordered">
  <tr>
    <td><%= link_to 'Campaigns', admin_campaigns_path %></td>
  <tr/>
  <tr>
    <td><%= link_to 'Event requests', admin_event_requests_path %></td>
  <tr/>
  <tr>
    <td><%= link_to 'Events', admin_events_path %></td>
  <tr/>
  <tr>
    <td><%= link_to 'Tasks', admin_tasks_path %></td>
  <tr/>
  <tr>
    <td><%= link_to 'Users', admin_users_path %></td>
  </tr>
</table>
