<p id="notice"><%= notice %></p>

<h1>Admin</h1>

<table class="table table-bordered">
  <tr>
    <td><%= link_to 'Campaigns', campaigns_path %></td>
  <tr/>
  <tr>
    <td><%= link_to 'Event requests', event_requests_path %></td>
  <tr/>
  <tr>
    <td><%= link_to 'Events', events_path %></td>
  <tr/>
  <tr>
    <td><%= link_to 'Tasks', tasks_path %></td>
  <tr/>
  <tr>
    <td><%= link_to 'Users', users_path %></td>
  </tr>
</table>
