
<div id="parallax">
  <%= render 'header' %>
  <article class="intro">
    <%= render 'intro' %>
  </article>
  <article class="slider" id="slider">
    <%= render 'slider' %>
    <div class="arrow-left"></div>
    <div class="arrow-right"></div>
  </article>
  <article class="participate">
    <%= render 'participate' %>
  </article>
  <article class="events">
    <%= render 'events' %>
  </article>
  <article class="community">
    <%= render 'community' %>
  </article>
  <article class="activity">
    <%= render 'activity' %>
  </article>
  <article class="about">
    <%= render 'about' %>
  </article>
  <%= render 'footer' %>
</div>
