<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="table">
  <thead>
    <tr>
      <th class="sortable"><%= sortable "type" %></th>
      <th class="sortable"><%= sortable "name" %></th>
      <th class="sortable"><%= sortable "status" %></th>
    </tr>
  </thead>
  <tbody>
    <% for task in @tasks %>
      <tr>
        <td><%= task.task_type %></td>
        <td class="-bold"><%= link_to task.name, task_path(task) %></td>
        <td><%= task.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @tasks, previous_label: '<', next_label: '>' %>
