<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="table">
  <thead>
    <tr>
      <th class="sortable"><%= sortable "start_/_end_date" %></th>
      <th class="sortable"><%= sortable "campaign_name" %></th>
      <th class="sortable"><%= sortable "tags" %></th>
    </tr>
  </thead>
  <tbody>
    <% for campaign in @campaigns %>
      <tr>
        <td><%= campaign.start_date %></td>
        <td class="-bold"><%= campaign.name %></td>
        <td><%= campaign.htag_list %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @campaigns, previous_label: '<', next_label: '>' %>
