<section class="l-vert-wrap l-campaigns -detail" id="campaignsDetail">

  <article class="l-intro -campaigns-detail">
    <div class="l-routes">
      <div class="wrap">
        <div class="row">
          <div class="col-sm-12">
            <ul class="c-routes text text-desc -light">
              <!-- Paths to set -->
              <li class="route">Participate</li>
              <li class="route"><%= link_to 'Campaigns', campaigns_path, {:class => 'route-link'} %></li>
              <li class="route"><%= @campaign.name %></li>
            </ul>
            <div id="open-modal" class="open-modal"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrap">
      <div class="row">
        <div class="col-sm-12 col-md-5">
          <div class="c-section-intro">
            <h1 class="title text text-module-subtitle -light"><%= @campaign.name %></h1>
            <ul class="tags-list text text-tag -light">
              <% @campaign.htag_list.to_s.split(",").each do |tag| %>
                <li class="c-tag -primary"><%= tag %></li>
              <% end %>
            </ul>
            <p class="text text-desc -light"><%= @campaign.description %></p>
            <% if @campaign.url.present? %>
              <a class="bttn bttn-primary" href="<%= @campaign.url %>" target="_blank">Participate</a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article class="l-main-content">
     <div class="l-tabs">
      <div class="c-tabs">
        <div class="wrap">
          <ul class="tabs">
            <li class="tab -is-active" data-tab="tab-1">Mapathon</li>
            <li class="tab" data-tab="tab-2">Task</li>
          </ul>
        </div>
        <div class="tabs-content">
          <div id="tab-1" class="tabs-panel -is-active">
            <%= form_tag campaign_events_path(@campaign), method: 'get', id: "search-form-events" do %>
              <div class="search wrap">
                <%= text_field_tag :search_events, params[:search_events], class: 'search-input' %>
                <svg class="icon icon-search">
                  <use xlink:href="#icon-search"></use>
                </svg>
                <%= submit_tag '', name: nil, class: 'hidden' %>
              </div>
              <div id="search-table-events"><%= render 'events/events', events: @events %></div>
            <% end %>
          </div>
          <div id="tab-2" class="tabs-panel">
            <%= form_tag campaign_tasks_path(@campaign), method: 'get', id: "search-form-tasks" do %>
              <div class="search wrap">
                <%= text_field_tag :search_tasks, params[:search_tasks], class: 'search-input' %>
                <svg class="icon icon-search">
                  <use xlink:href="#icon-search"></use>
                </svg>
                <%= submit_tag '', name: nil, class: 'hidden' %>
              </div>
              <div id="search-table-tasks"><%= render 'tasks/tasks', tasks: @tasks %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
