<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @campaign.name %>
</p>

<p>
  <strong>Htag:</strong>
  <%= @campaign.htag %>
</p>

<p>
  <strong>Description:</strong>
  <%= @campaign.description %>
</p>

<p>
  <strong>Background image:</strong>
  <%= @campaign.background_image %>
</p>

<p>
  <strong>Url:</strong>
  <%= @campaign.url %>
</p>

<p>
  <strong>Status:</strong>
  <%= @campaign.status %>
</p>

<p>
  <strong>Order sequence:</strong>
  <%= @campaign.order_sequence %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @campaign.start_date %>
</p>

<%= link_to 'Edit', edit_campaign_path(@campaign),  class: 'btn btn-primary' %>
<%= link_to 'Back', campaigns_path, class: 'btn btn-secondary' %>
