<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="table">
  <thead>
    <tr>
      <th class="sortable"><%= sortable "name" %></th>
      <th>Osm</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% for user in @users %>
      <tr>
        <td class="-bold"><%= user.name %></td>
        <td><%= user.osm_id %></td>
        <td><%= user.email %></td>
        <td class="actions">
          <%= link_to '', admin_user_path(user), :class => "svg-bttn -show" %>
          <%= link_to '', edit_admin_user_path(user), :class => "svg-bttn -edit" %>
          <%= link_to '', admin_user_path(user), method: :delete, data: {confirm: 'Are you sure?'}, :class => "svg-bttn -delete"%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @users, previous_label: '<', next_label: '>' %>
