<div class="index-title wrap">
  <h1>Users</h1>
  <%= link_to 'New User', new_admin_user_path, class: 'bttn bttn-primary' %>
</div>

<div class="search wrap">
  <input type="text" class="search-input" placeholder="Search" />
  <svg class="icon icon-search">
    <use xlink:href="#icon-search"></use>
  </svg>
</div>

<table class="table table-bordered draggable">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Osm</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <svg class="icon icon-Row-Dragger">
            <use xlink:href="#icon-Row-Dragger"></use>
          </svg>
        </td>
        <td><%= user.name %></td>
        <td><%= user.osm_id %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', admin_user_path(user) %><%= link_to 'Edit', edit_admin_user_path(user) %><%= link_to 'Destroy', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
