<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Onboarding</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <svg style="position: absolute; width: 0; height: 0;" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <symbol id="icon-Row-Dragger" viewBox="0 0 19 32">
          <title>Row-Dragger</title>
          <path class="path1" fill="#b8b8b8" d="M3.2 12.8c1.767 0 3.2 1.433 3.2 3.2s-1.433 3.2-3.2 3.2c-1.767 0-3.2-1.433-3.2-3.2s1.433-3.2 3.2-3.2z"></path>
          <path class="path2" fill="#b8b8b8" d="M16 12.8c1.767 0 3.2 1.433 3.2 3.2s-1.433 3.2-3.2 3.2c-1.767 0-3.2-1.433-3.2-3.2s1.433-3.2 3.2-3.2z"></path>
          <path class="path3" fill="#b8b8b8" d="M3.2 0c1.767 0 3.2 1.433 3.2 3.2s-1.433 3.2-3.2 3.2c-1.767 0-3.2-1.433-3.2-3.2s1.433-3.2 3.2-3.2z"></path>
          <path class="path4" fill="#b8b8b8" d="M16 0c1.767 0 3.2 1.433 3.2 3.2s-1.433 3.2-3.2 3.2c-1.767 0-3.2-1.433-3.2-3.2s1.433-3.2 3.2-3.2z"></path>
          <path class="path5" fill="#b8b8b8" d="M3.2 25.6c1.767 0 3.2 1.433 3.2 3.2s-1.433 3.2-3.2 3.2c-1.767 0-3.2-1.433-3.2-3.2s1.433-3.2 3.2-3.2z"></path>
          <path class="path6" fill="#b8b8b8" d="M16 25.6c1.767 0 3.2 1.433 3.2 3.2s-1.433 3.2-3.2 3.2c-1.767 0-3.2-1.433-3.2-3.2s1.433-3.2 3.2-3.2z"></path>
          </symbol>
          <symbol id="icon-TriangleDown" viewBox="0 0 53 32">
          <title>TriangleDown</title>
          <path class="path1" fill="#b8b8b8" d="M25.741 1.278l25.741 27.255h-51.482z"></path>
        </symbol>
        <symbol id="icon-search" viewBox="0 0 34 32">
          <title>Search</title>
          <path class="path1" d="M25.086 21.217c1.627-2.208 2.589-4.933 2.589-7.883 0-7.366-5.995-13.333-13.384-13.333s-13.384 5.967-13.384 13.333c0 7.366 5.995 13.333 13.384 13.333 3.063 0 5.887-1.025 8.143-2.751 0.085 0.43 0.294 0.841 0.628 1.175l6.17 6.17c0.894 0.894 2.342 0.891 3.236-0.004 0.901-0.901 0.896-2.344 0.004-3.236l-6.17-6.17c-0.344-0.344-0.77-0.555-1.215-0.634zM14.29 22.4c-5.038 0-9.118-4.061-9.118-9.067s4.080-9.067 9.118-9.067c5.038 0 9.118 4.061 9.118 9.067s-4.080 9.067-9.118 9.067z"></path>
        </symbol>
        <symbol id="icon-share" viewBox="0 0 38 32">
          <title>Share</title>
          <path class="path1" fill="#fff" d="M28.235 27.63h-24.471v-17.613h5.637c0 0 1.382-1.931 4.186-3.744h-11.706c-1.039 0-1.882 0.833-1.882 1.872v21.357c0 1.029 0.843 1.872 1.882 1.872h28.235c1.039 0 1.882-0.833 1.882-1.872v-10.683l-3.765 3.078v5.734zM25.098 12.546v6.263l12.549-9.36-12.549-9.448v5.851c-15.176 0-15.686 16.104-15.686 16.104 4.294-7.008 7.451-9.409 15.686-9.409v0z"></path>
        </symbol>
        <symbol id="icon-menu" viewBox="0 0 39 32">
          <title>menu</title>
          <path class="path1" d="M0 28.444h39.111v3.556h-39.111v-3.556zM0 14.222h39.111v3.556h-39.111v-3.556zM0 0h39.111v3.556h-39.111v-3.556z"></path>
        </symbol>
      </defs>
    </svg>

    <%= render 'shared/header' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <div id="app"></div>
    <%= javascript_include_tag 'application' %>
  </div>
  </body>
</html>
